section{
    height: 500px;
    background-color: yellow;
    border: solid black 1px;
}

.hero{
    background-color: #D8BFD8;
    height: 100vh;
    color: #FFF5EE;
    font-size: 40px;
}
footer {
    height: 500px;
    background-color:black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    text-decoration: none;
}