body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255) 1px;
}

.hero{
    background-color: #D8BFD8;
    height: 100vh;
    color: #FFF5EE;
    font-size: 40px;
}
footer {
    height: 500px;
    background-color:#D8BFD8;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li{
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 55px;
    border-radius:25px;
    background-color: darkslateblue;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(53, 45, 104);
}

.button:active {
    background-color:rgb(142, 126, 245);
    color: #D8BFD8
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 170px

}

.social {
    margin: 30px;
}